*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 16px;
	font-family: sans-serif;
}
/*       Reutilizable        */

.btn{
	border: 1px solid white;
	border-radius: 20px;
	padding: 10px 30px;
	background: none;
	color: #fff;
	cursor: pointer;
	outline: none;
}

.skew-arriba{
	position: absolute;
	top: 0;
	/*border-width: 35vh 100vw ;*/ /*Triangulo Cool*/
	border-width: 20vh 100vw 0 0;
	border-style: solid;
	border-color: white transparent transparent transparent;
}
.skew-abajo{
	position: absolute;
	bottom: 0;
	border-width: 0 0 20vh 100vw;	
	border-style: solid;
	border-color: transparent transparent white transparent;
}



/*       Reutilizable        */

/*       Section Main        */
.main-section{
	width: 100%;
	height: 700px;
	background: url(../img/Skew.jpg) center/cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-section-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
}
.main-section__title{
	font-size: 80px;
}
.main-section__sub-title{
	margin: 15px 0 30px 0;
	font-size: 30px;
}
/*       Section Main        */

/*       Section About-US        */
.about-us{
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.about-us-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 90%;
}
.about-us__title{
	font-size: 60px;
}
.about-us__sub-title{
	font-size: 25px;
	margin:  20px 0;
	font-weight: 300;
}
.about-us__text{
	text-align: justify;
	line-height: 25px;
	font-size: 14px;
	margin-bottom: 20px;
}
.about-us__btn{
	color: #000;
	border-color: #000;
	align-self: flex-start;
	margin-bottom: 20px;
}
/*       Section About-US        */

/*       Section Gallery        */
.gallery{
	width: 100%;
	display: flex;
	position: relative;
}
.gallery-box-img{
	width: 20%;
	height: 500px;
}
.gallery-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20%;

	background: #2a373c;
	color: #fff;
	text-align: center;
}
.gallery-box__text{
	font-size: 25px;
	font-weight: 900;
}
.gallery-box__barra{
	height: 2px;
	margin-top: 15px;
	color: #fff;
	width: 60px;
}
.gallery__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*       Section Gallery        */

/*       Section Team        */
.team{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.team-box-title{
	text-align: center;
}
.team-boxT__title{
	font-size: 50px;
}
.team-boxT__text{
	font-size: 20px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 20px;
}
.team-box-cards{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 20px;
	

	width: 90%;
	margin: auto;
}
.team__card{
	width: 100%;
	height: 250px;

	padding: 20px;
	margin: 20px 0;
	text-align: center;

	box-shadow: 0 0 4px 0 rgba(0,0,0,.8)
}
.team__card-img{
	margin-top: 10px;
	object-fit: cover;
	border-radius: 100%;
	height: 150px;
	width: 150px;
}
.team__card-title{
	font-size: 18px;
}
.team__card-text{
	margin-bottom: 30px;
}

/*       Section Team        */

/*       Section Clients        */
.clients{
	background: linear-gradient(rgba(0, 4, 242, 0.5),rgba(0, 255, 0, 0.5)), url(../img/1.jpg) center / cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #fff;
	width: 100%;
	margin-top: 50px;
	padding-top: 10vh;
	padding-bottom: 20vh;
	position: relative;

}
.clients-text{
	padding-top: 150px;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
.clients-text__title{
	font-size: 60px;
	margin-bottom: 10px;
}
.clients-text__parrafo{
	font-size: 20px;
}
.clients-logos{
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
}
.clients-logos__img{
	display: block;
	width: 30%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 20px;
}
.clients__text-final{
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}
.skew-abajo--clients{
	border-color: transparent transparent #2c3e50 transparent;
}
/*       Section Clients        */

/*       Footer      */
.contact{
	background: #2c3e50;
	width: 100%;
	padding-bottom: 20px;
}
.contact-text{
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}
.contact-text__title{
	font-size: 50px;
	margin-bottom: 10px;
}
.contact-text__parrafo{
	font-size: 20px;
}
.contact-form{
	width: 80%;
	margin: 0 auto;
}
.contact-form-box{
	display: flex;
	justify-content: space-between;
}
.contact-form-box__name,
.contact-form-box__email{
	border: none;
	border-top: 5px solid rgba(37, 37, 33, .7);
	background: rgba(37, 37, 33, .7);
	color: #fff;
	padding: 10px;
	width: 48%;
	transition: all ease .5s;
	margin-bottom: 20px;
}
.contact-form-box__name:focus,
.contact-form-box__email:focus{
	border-color: #fff;
}
.contact-form__textarea{
	width: 100%;
	height: 200px;
	background: rgba(37, 37, 33, .7);
	color: #fff;
	border: none;
	padding: 10px;
	resize: none;
	transition: all ease .5s;
}
.contact-form__textarea:focus{
	border-top: 5px solid #fff;
}
.contact-form__button{
	margin-top: 10px;
	display: block;
	border: none;
	background: rgba(37, 37, 33, .7);
	color: #fff;
	border: none;
	padding: 10px 30px;
	cursor: pointer;
}
/*       Footer      */


/*           Modal           */
.modal{
	background: rgba(0,0,0,.5);
	position:fixed;
	top: 0;
	margin: auto;
	width: 100%;
	height: 100vh;

	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: 
}
.modal-slider{
	width:80%;
	margin: auto;
	position: relative;
	transition: transform .5s;
	transform: translateY(-200%);
}
.modal-slider--open{
	transform: translateY(0%);
}
.modal-slider__list{
	overflow-x: hidden;
}
.modal-slider__img{
	width: 100%;
	height: 600px;
	object-fit: cover;
}
.modal-slider-contenedor{
	position: relative;
}	
.modal-slider__anterior,
.modal-slider__siguiente{
	position: absolute;
	display: block;
	border: none;
	padding: 20px 10px;
	background: rgba(0,0,0,.8);
	color: gray;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	top: calc(50% - 35px);
}

.modal-slider__anterior{
	left: -28px;
}
.modal-slider__siguiente{
	right: -28px;
}
.modal-slider__anterior:hover,
.modal-slider__siguiente:hover{
	color: #fff;
}
/*           Modal           */
@media screen and (max-width: 800px) {
	.main-section__title{
		font-size: 60px;
	}
	.main-section__sub-title{
		font-size: 25px;
	}
	.about-us__title{
		font-size: 50px;
	}
	.about-us__sub-title{
		font-size: 22px;
	}
	.gallery-box__text{
		font-size: 18px;
	}
	.gallery-box__barra{
		width: 40px;
	}
	.team-boxT__title{
		font-size: 40px;
	}
	.team-boxT__text{
		font-size: 18px;
	}
	.clients-text__title{
		font-size: 45px;
	}
	.clients-text__parrafo{
		font-size: 18px;
	}
	.clients__text-final{
		font-size: 18px;
	}
	.clients-logos__img{
		width: 45%;
	}
	.contact-text__title{
		font-size: 40px;
	}
	.contact-text__parrafo{
		font-size: 18px;
	}
	.contact-form-box{
		flex-direction: column;
	}
	.contact-form-box__name,
	.contact-form-box__email{
		width: 100%;
	}
	.modal-slider__img{
		height: 500px;
	}
	
}
@media screen and (max-width: 500px) {
	.main-section__title{
		font-size: 40px;
	}
	.main-section__sub-title{
		font-size: 20px;
	}
	.about-us__title{
		font-size: 40px;
	}
	.about-us__sub-title{
		font-size: 18px;
	}
	.gallery-box__text{
		font-size: 14px;
	}
	.gallery-box__barra{
		width: 30px;
	}
	.team-boxT__title{
		font-size: 30px;
	}
	.team-boxT__text{
		font-size: 16px;
	}
	.clients-text__title{
		font-size: 30px;
	}
	.clients-text__parrafo{
		font-size: 16px;
	}
	.clients__text-final{
		font-size: 16px;
	}
	.clients-logos__img{
		width: 90%;
	}
	.contact-text__title{
		font-size: 30px;
	}
	.contact-text__parrafo{
		font-size: 16px;
	}
	.modal-slider__img{
		height: 300px;
	}
}